.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0;
}

.logo {
  width: 200px;
}

.header_actions .button:first-child {
  margin-right: 32px;
}

.main_nav {
  color: #2F281E;
}
.main_nav a:hover {
  color: #FF9900;
}
.main_nav a:not(:last-child) {
  margin-right: 20px;
}

.header_nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}