@import '../base/vars';

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
}

.logo {
    width: 200px;
}

.header_actions .button:first-child {
    margin-right: 32px;
}


.main_nav {
    color: #2F281E;

    a {

        &:hover {
            color: $orange;
        }

        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}
