* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 80%;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 864px;
    width: 100%;
  }
}

.hero_title {
  font-family: "Poppins", sans-serif;
  color: #242635;
  text-transform: capitalize;
  text-align: center;
  font-size: 36px;
  line-height: 39px;
  margin-bottom: 27px;
}
@media screen and (min-width: 568px) {
  .hero_title {
    font-size: 72px;
    line-height: 82.8px;
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_title {
    font-size: 90px;
    line-height: 102px;
    margin-bottom: 30px;
  }
}

.header {
  padding-top: 70px;
  margin-bottom: 145px;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 28px;
  transition: all 0.3s ease;
}
.nav_list a {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 22.4px;
  color: #242635;
  display: block;
}
@media screen and (max-width: 568px) {
  .nav_list a {
    font-size: 42px;
    padding: 30px 0;
    border-bottom: 2px solid #eee2e2;
  }
}
@media screen and (max-width: 568px) {
  .nav_list {
    transform: translateX(100%);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    column-gap: 0;
    align-items: center;
    justify-content: center;
  }
  .nav_list li {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.hero_text {
  color: #242635;
  text-align: center;
  width: 100%;
  max-width: 217px;
  margin: 0 auto 57px;
  font-size: 12px;
  line-height: 18px;
}
@media screen and (min-width: 568px) {
  .hero_text {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 45px;
    max-width: 574px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_text {
    margin-bottom: 47px;
  }
}

.hero_pict {
  width: 100%;
  display: block;
}

.hamburger {
  position: fixed;
  display: block;
  padding: 30px;
  top: 30px;
  right: 30px;
  background-color: #fff;
  outline: none;
  border: none;
}
.hamburger span {
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #000;
  border-radius: 50%;
}
.hamburger::after, .hamburger::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #000;
  border-radius: 50%;
}
@media screen and (min-width: 568px) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 568px) {
  .menu_open .nav_list {
    transform: none;
  }
}

.box_grid {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  max-width: 300px;
  height: 400px;
  background-color: pink;
}
@media screen and (min-width: 768px) {
  .box {
    width: 33%;
    max-width: 220px;
  }
}
@media screen and (min-width: 1200px) {
  .box {
    width: 24%;
    max-width: 280px;
  }
}

.card {
  position: relative;
  width: 300px;
}
.card img {
  width: 100%;
}
.card a {
  display: block;
}
.card a:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}